.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

.container,
.container * {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

.container body {
  overscroll-behavior: none;
}

.content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-align: center;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
  color: white;
  z-index: 1;
}

.icon {
  position: relative;
  margin-bottom: 1rem;
  width: 120px;
  animation: float 8s ease-in-out infinite;
  filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.2));
}

.icon img {
  display: block;
  max-width: 100%;
  height: auto;
}

@keyframes float {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  25% {
    transform: translate(5px, -15px) rotate(5deg);
  }
  50% {
    transform: translate(-5px, -25px) rotate(-5deg);
  }
  75% {
    transform: translate(8px, -10px) rotate(3deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}

.title {
  font-size: 0.875rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.message {
  color: #e5e7eb;
  margin: 0;
  padding: 0;
}

.link {
  margin-top: 1rem;
  color: #f3f4f6;
  text-decoration: none;
  transition: color 0.2s;
  display: inline-block;
}

.link:hover {
  color: white;
}
