@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./code-theme.css";

.interactable {
	@apply cursor-pointer select-none ring-[3px] ring-transparent hover:border-transparent hover:ring-purple-500 dark:hover:ring-purple-600;
}

.scalable {
	@apply transition-all duration-300 hover:scale-105 active:scale-100;
}

@keyframes bounce {
	10% {
		transform: scaleY(0.3); /* start by scaling to 30% */
	}

	30% {
		transform: scaleY(1); /* scale up to 100% */
	}

	60% {
		transform: scaleY(0.5); /* scale down to 50% */
	}

	80% {
		transform: scaleY(0.75); /* scale up to 75% */
	}

	100% {
		transform: scaleY(0.6); /* scale down to 60% */
	}
}

.spotify-widget .now-playing-icon {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 13px;
	height: 13px;
}

.spotify-widget .now-playing-icon span {
	@apply bg-green-500;
	width: 3px;
	height: 100%;
	border-radius: 3px;
	transform-origin: bottom;
	animation: bounce 2.2s ease infinite alternate;
	content: "";
}

.spotify-widget .now-playing-icon span:nth-of-type(2) {
	animation-delay: -2.2s; /* Start at the end of animation */
}

.spotify-widget .now-playing-icon span:nth-of-type(3) {
	animation-delay: -3.7s; /* Start mid-way of return of animation */
}

.spotify-widget .radial {
	background: rgb(0, 0, 0);
	background: linear-gradient(
		90deg,
		rgba(0, 0, 0, 0.35) 0%,
		rgba(0, 0, 0, 1) 50%,
		rgba(0, 0, 0, 0.35) 100%
	);
}

.spotify-widget .radial-edges {
	background: rgb(0, 0, 0);
	background: linear-gradient(
		90deg,
		rgba(0, 0, 0, 1) 0%,
		rgba(0, 0, 0, 0) 15%,
		rgba(0, 0, 0, 0) 85%,
		rgba(0, 0, 0, 1) 100%
	);
}

@keyframes scroll-animation {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(((-210px + -2rem) * 10) + -2rem));
	}
}

.spotify-widget .slide-track {
	animation: scroll-animation 90s linear infinite;
	width: calc((210px + 2rem) * 20);
}

.spotify-widget .animation-paused {
	animation-play-state: paused;
}

.heading {
	@apply font-medium uppercase tracking-wide;
}

.heading-link {
	@apply no-underline;
}

.heading-link .link {
	@apply text-purple-600 transition-colors duration-150 hover:text-purple-400 active:text-purple-700;
}

.prose .contains-task-list {
	list-style: none;
}

.prose .contains-task-list input[type="checkbox"] {
	@apply m-0 mr-2 h-5 w-5 shrink-0 rounded-lg text-base accent-purple-500 disabled:accent-purple-500;
}

.prose .contains-task-list .task-list-item {
	display: flex;
	align-items: center;
}

.prose .yt-embed {
	position: relative;
	padding-bottom: 56.25%;
	/* 16:9 */
	padding-top: 25px;
	height: 0;
}

.prose .yt-embed iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Semantic, responsive typography configuration */

@layer base {
	h1 {
		@apply text-3xl font-bold tracking-tight md:text-4xl;
	}

	h2 {
		@apply text-2xl font-bold tracking-tight md:text-3xl;
	}

	h3 {
		@apply text-xl font-semibold tracking-tight md:text-2xl;
	}

	h4 {
		@apply text-lg font-semibold tracking-tight md:text-xl;
	}

	h5 {
		@apply text-base font-semibold;
	}

	h6 {
		@apply text-base font-semibold;
	}

	small {
		@apply text-xs md:text-sm;
	}
}
